@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.ttf');
}

@font-face {
    font-family: 'TRY Galien';
    src: url('../fonts/Galien-Bold.ttf');
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy-Regular.ttf');
}

@font-face {
    font-family: 'Gilroy-SemiBoldItalic';
    src: url('../fonts/Gilroy-SemiBoldItalic.ttf');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.ttf');
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../fonts/Gilroy-Light.ttf');
}